<!DOCTYPE html>
<html>
  <head>
    <title>Rails5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- 모든 페이지에서 사용되는 글로벌 메뉴 -->
    <div id="global-header">
      <div class="container">
        <div class="logo">My Profile</div>
        <ul class="menu">
          <a href="/">
            <li class="item">Hello World</li>
          </a>
          <!-- <a href="/contact"> -->
          <a href="/contacts/new">
            <li class="item">Contact</li>
          </a>
        </ul>
      </div>
    </div>
    <div id="wrapper">
      <%= yield %>
    </div>

  </body>
</html>
